
@{
    ViewBag.Title = "Listado";
}


@model List<jugador>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Posicion</th>
        <th>Equipo</th>
        <th>Eliminar</th>
        <th>Modificar</th>
    </tr>
    @foreach (jugador j in  Model)
    {
    <tr>
        <td>@j.id</td>
        <td>@j.nombre</td>
        <td>@j.apellido</td>
        <td>@j.posicion</td>
        <th>@j.idEquipo</th>

        <td><a href="/Jugador/Eliminar/@j.id"> Eliminar</a></td>
        <td>@Html.ActionLink("Modificar", "Modificar", new { id = j.id })</td>

    </tr>
    }
</table>
<button><a href="/Jugador/AgregarJugador/" > Agregar</a></button>