
@{
    ViewBag.Title = "FormEditar";
}
@using JugadoresCRUD.Models
@model Jugador

<h2>FormEditar</h2>

<form action="/Jugador/Modificar" method="Post">

    Id: @Html.TextBoxFor(j => j.Id)
    <br />
    Nombre: @Html.TextBoxFor(j => j.Nombre)
    <br />
    Apellido: @Html.TextBoxFor(j => j.Apellido)
    <br />
    Edad: @Html.TextBoxFor(j => j.Edad)
    <br />
    Posicion: @Html.TextBoxFor(j => j.Posicion)
    <br />
    <input type="submit" text="Modificar" />

</form>